@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$list-item-background-color: #004578;
$delete-button-background-color: #002050;
$delete-button-background-color-hoover: #00188f;
$list-background-color: #0078d4;

.taskitem {
    background-color: $list-item-background-color;
    width: 100%;

    .item {
        border-radius: 3px;
        border-bottom: solid 5px $list-background-color;
    }

    .p {
        display: inline-block;
        font-family: sans-serif;
        font-size: 1.2em;
        margin-right: 10px;
        padding: 5px 10px;
        width: calc(100% - 120px);
    }

    .button {
        display: inline-block;
        background-color: $delete-button-background-color;
        font-family: sans-serif;
        font-size: 1.2em;
        color: white;
        border: none;
        height: 40px;
        width: 80px;        
        padding: 5px 10px;
        text-align: right;
        &:hover {
            background-color: $delete-button-background-color-hoover;
        }
    }


}