@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.taskitem {
    background-color: $ms-color-themeDarkAlt;
    width: 100%;
    margin-bottom: 20px;

    .item {
        border-bottom: solid 5px #005a9e;
    }

    .p {
        display: inline-block;
        font-family: sans-serif;
        font-size: 1.2em;
        margin-right: 10px;
        padding: 5px 10px;
        width: calc(100% - 120px);
    }

    .button {
        display: inline-block;
        background-color: $ms-color-blueDark;
        font-family: sans-serif;
        font-size: 1.2em;
        color: white;
        border: none;
        height: 40px;
        width: 80px;        
        padding: 5px 10px;
        text-align: right;
        &:hover {
            background-color: $ms-color-blueMid;
        }
    }


}